* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#fondo h1 {
    background-color: rgba(18, 114, 224, 0.39);
}

#fondo {
    background-image: url(https://fotografias-compromiso.atresmedia.com/clipping/cmsimages02/2020/09/21/4BCA0061-4CDB-4C39-94A8-D03F8DD4CA36/58.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    color:  rgb(255, 255, 255);

}

#menu{
    display: block;
    float: right; 
    padding-right: 10px;
    padding-top: 50px;

}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0; 
}


#menu ul li {
    background-color: rgba(19, 144, 228, 0.548);
}

#menu ul a {
    display: block;
    color: #fff;
    text-decoration: none; 
    font-weight: 400;
    font-size: 15px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#menu ul li:hover {
    background: #2433b97c;
}

/* menu desplegable */
#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background:rgba(255, 255, 255, 0.781);
    padding: 0; 
}

/* items del menu desplegable */
#menu ul ul li {
    float: none;
    width: 150px;
}

/* enlaces de los items del menu desplegable */
#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}


/* items del menu desplegable al pasar el ratón */
#menu ul li:hover > ul {
    display: block;
}

#Contenido {
    background-color: rgba(17, 117, 211, 0.39);
    background: linear-gradient(#258fcc81, #000046a2 );
    padding: 10px;
}

.contenedorCont h3 {
    text-align: center;
    background-color: rgba(4, 0, 255, 0.459);
    color: #fff;
}

.contenedorCont p {
    text-align: justify;
    font-size: larger;
    background-color: rgba(20, 61, 197, 0.37);
    color: white;
}

.Alim p {
    text-align: justify;
    font-size: large;
    background-color: rgba(20, 32, 197, 0.37);
    color: white;
}

.Alim h4 {
    text-align: center; 
    font-size: large;
    background-color: rgba(4, 0, 255, 0.555);
    color: #fff;
}

.Comp p {
    text-align: justify;
    font-size: large;
    background-color: rgba(32, 20, 197, 0.37);
    color: #fff;
}

.Comp h4 {
    text-align: center; 
    font-size: large;
    background-color: rgba(0, 4, 255, 0.473);
    color: #fff;
} 

.Repro p {
    text-align: justify;
    font-size: large;
    background-color: rgba(20, 76, 197, 0.37);
    color: #fff;
}

.Repro h4 {
    text-align: center;
    font-size: larger; 
    background-color: rgba(0, 38, 255, 0.452);
    color: #fff;
}

#imagen1 img {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    box-shadow: 10px 10px 10px rgba(7, 7, 8, 0.582);
    
}

#imagen1 {
    text-align: center;
}

#imagen2 img {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    box-shadow: 10px 10px 10px rgba(7, 7, 8, 0.582);
}

#imagen2 {
    text-align: center;
}

#imagen3 img {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    box-shadow: 10px 10px 10px rgba(7, 7, 8, 0.582);
}

#imagen3{
    text-align: center;
}

#imagen4 img {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    box-shadow: 10px 10px 10px rgba(7, 7, 8, 0.582);
}

#imagen4 {
    text-align: center;
}

#imagen5 img {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    box-shadow: 10px 10px 10px rgba(7, 7, 8, 0.582);
}

#imagen5 {
    text-align: center;
}

.icon-location-outline {
    text-decoration: none;
    color: #fff;
}

.icon-cloud-sun {
    text-decoration: none;
    color: #fff;
}

.icon-location-outline:hover {
    background-color: rgba(0, 255, 255, 0.432);
}

#info {
    background-color: rgba(0, 255, 255, 0.356);
    background: linear-gradient(#0000469f, #1822aa71 );
    color: white;

}

.aves img {
    margin: 20px;
    transition: 1s;
    
}

.manglar img {
    width: 250px;
    margin: 20px;
    transition: 1s;
}

.turismo img {
    width: 250px;
    margin: 10px;
    transition: 1s;
}

.aves:hover img { 
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
}

 .turismo:hover img {
    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255);
 }

 .manglar:hover img {
    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255);
 } 

footer {
    background-color: rgba(127, 255, 212, 0.315);
}

.contenedor p {
    text-align: center;
    border-top: 1px solid black;
    font-weight: 100px;
}

